<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title>OXC Comics</title>
    <base href="/" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body ng-controller="AccountController as account">

    @*Header*@
    <div class="container">
        <a href="/">
            <div class="navrow1">
                <div id="particles-js">
                    <div class="col-md-12 navititle">
                        OXC COMICS
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="container">
        <div class="navrow2">
            <div class="col-md-3 navicreators"><a href="/creators">CREATORS</a></div>
            <div class="col-md-3 navicomics"><a href="/comics">COMICS</a></div>
            <div class="col-md-3 naviregister"><a href="/register">REGISTER</a></div>
            <div class="col-md-3 navilogin">
                <a href="/login" ng-show="!account.isLoggedIn()">LOGIN</a>
                <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">LOGOUT</a>
            </div>
        </div>
    </div>

    <ng-view></ng-view>

    @*Social*@
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col-md-12 bodysocial">SOCIAL</div>
        </div><br /><br />
        <div class="row">
            <div class="col-md-4 logo"><img src="~/Images/OXC Logo2.png" alt="Mountain View" style="width:300px;height:167px;" /></div>
            <div class="col-md-2 footer">FACEBOOK<a href="http://www.facebook.com/oxccomics"><img src="~/Images/facebook.png" alt="facebook" style="width:100px;height:100px;" /></a></div>
            <div class="col-md-2 footer">INSTAGRAM<a href="http://www.instagram.com/oxccomics"><img src="~/Images/instagram.png" alt="instagram" style="width:100px;height:100px;" /></a></div>
            <div class="col-md-2 footer">TUMBLR<a href="http://www.oxccomics.tumblr.com/"><img src="~/Images/tumblr.png" alt="tumblr" style="width:100px;height:100px;" /></a></div>
            <div class="col-md-2 footer">TWITTER<a href="http://www.twitter.com/oxccomics"><img src="~/Images/twitter.png" alt="twitter" style="width:100px;height:100px;" /></a></div>
        </div>
    </div>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/controllers.js"></script>
    <script src="~/ngApp/services/services.js"></script>
    <script src="~/ngApp/controllers/accountController.js"></script>
    <script src="~/ngApp/services/accountService.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="~/style.css" rel="stylesheet" />
    <script src="~/title.js"></script>
</body>
</html>