<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title>OXC Comics</title>
    <base href="/" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
</head>
<body ng-controller="AccountController as account">

    @*Header*@
    <div class="container">
        <a href="/">
            <div class="navrow1">
                <div id="particles-js">
                    <CENTER>
                        <a href="/">
                            <img src="~/Images/headerimagefont2.png" alt="logo" style="width: 100%; height: auto;" />
                        </a>
                    </CENTER>
                </div>
            </div>
        </a>
    </div>

    @*@<div class="container">
        <div class="navrow2">
            <a href="/creators">
                <div class="col-md-3 navibar">
                    CREATORS
                </div>
            </a>
            <a href="/comics">
                <div class="col-md-3 navibar">
                    COMICS
                </div>
            </a>
            <a href="/register">
                <div class="col-md-3 navibar">
                    REGISTER
                </div>
            </a>
            <a href="/login" ng-show="!account.isLoggedIn()">
                <div class="col-md-3 navibar">
                    LOGIN
                </div>
            </a>
            <a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">
                <div class="col-md-3 navibar">
                    LOGOUT
                </div>
            </a>
        </div>
    </div>*@

    <ng-view></ng-view>

    @*Social*@
    <br />
    <br />
    <br />
    <br />
    <br />

    @*<div class="container">
        <div class="row">
            <div class="col-md-12 bodysocial">SOCIAL</div>
        </div><br /><br />
    </div>*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
                <CENTER>
                    <a href="/">
                        <img src="~/Images/OXC Logo.png" alt="logo" style="width: 100%; height: auto;" />
                    </a>
                </CENTER>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="col-xs-3 footer">
                    FACEBOOK
                    <br />
                    <a href="http://www.facebook.com/oxccomics">
                        <img src="~/Images/facebook.png" alt="facebook" style="max-width: 100%" />
                    </a>
                </div>
                <div class="col-xs-3 footer">
                    INSTAGRAM
                    <br />
                    <a href="http://www.instagram.com/oxccomics">
                        <img src="~/Images/instagram.png" alt="instagram" style="max-width: 100%" />
                    </a>
                </div>
                <div class="col-xs-3 footer">
                    TUMBLR
                    <br />
                    <a href="http://www.oxccomics.tumblr.com/">
                        <img src="~/Images/tumblr.png" alt="tumblr" style="max-width: 100%" />
                    </a>
                </div>
                <div class="col-xs-3 footer">
                    TWITTER
                    <br />
                    <a href="http://www.twitter.com/oxccomics">
                        <img src="~/Images/twitter.png" alt="twitter" style="max-width: 100%" />
                    </a>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1 toparrow"><div onclick="$('body').animate({ scrollTop: 0 }, '500');"><img src="~/Images/uparrowwhite.png" style="max-height:20px; width:auto" /></div></div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12 midpicdes">
                <center>J. F. Castro  & Julie Gomez</center>
                <br /><center>OXC COMICS 2017</center>
            </div>
        </div>
    </div>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/controllers.js"></script>
    <script src="~/ngApp/services/services.js"></script>
    <script src="~/ngApp/controllers/accountController.js"></script>
    <script src="~/ngApp/services/accountService.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="~/style.css" rel="stylesheet" />
    <script src="~/title.js"></script>
</body>
</html>