<br />
<div class="container">
    <div class="row">
        <div class="col-md-12 comicsbody">
            <font size="6">OXC Presents:</font>
            <div ng-repeat="comic in controller.comics">
                <font size="5"><i>{{comic.title}}</i></font><br />
                Issue: {{comic.issue}}<br />
                Writer: {{comic.writer}}<br />
                Artist: {{comic.artist}}<br />
                Release: {{comic.release | date:'longDate'}}<br />
                <div ng-show="account.getClaim('CanAddComics')=='true'">
                    <a href="/edit/{{comic.id}}">Edit</a> |
                    <a href="/delete/{{comic.id}}">Delete</a><br /><br />
                </div>
            </div>
            <a ng-show="account.getClaim('CanAddComics')=='true'" href="/addComic">Add New Comic</a>
        </div>
    </div>
</div>