<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="row form-group">
                <div class="col-md-12 creatorspic">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/600px-Placeholder_no_text.svg.png" class="img-responsive img-thumbnail" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 creatorsbio">
                    <font size="6">J F CASTRO</font>
                    <br />
                    <font size="5">Artist/Writer for Hydro</font><br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <div class="row form-group">
                <div class="col-md-12 creatorspic">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/600px-Placeholder_no_text.svg.png" class="img-responsive img-thumbnail" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 creatorsbio">
                    <font size="6">JULIE GOMEZ</font>
                    <br />
                    <font size="5">Editor for Hydro</font><br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </div>
        </div>
    </div>
</div>


