<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 form-group">
            <div class="row form-group">
                <div class="col-md-12 creatorspic">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/600px-Placeholder_no_text.svg.png" class="img-responsive img-thumbnail" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 creatorsbio">
                    <font size="6">J F CASTRO</font>
                    <br />
                    <font size="5">Artist/Writer for Hydro</font><br />
                    J F Castro has an MBA. So what that MBAs have nothing to do with making comic books. He's also a self-taught artist. Personal favorite quote: "Be ashamed to die until you have scored some victory for humanity." -Horace Mann
                </div>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <div class="row form-group">
                <div class="col-md-12 creatorspic">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/600px-Placeholder_no_text.svg.png" class="img-responsive img-thumbnail" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 creatorsbio">
                    <font size="6">JULIE GOMEZ</font>
                    <br />
                    <font size="5">Editor for Hydro</font><br />
                    Julie has published various online articles for websites promoting her travels. Besides being an online journalist, she has had a hand in music production and is currently working on her own zine!
                </div>
            </div>
        </div>
    </div>
</div>


