<br />
<div class="container">
    <!--Slideshow-->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!--<uib-carousel interval="6000" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in controller.slides">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <h4>{{slide.text}}</h4>
                        </div>
                    </uib-slide>
                </uib-carousel>-->
            </div>

            <!--Preview Pages-->
            <br />
            <div class="row">
                <div class="col-md-12 bodypreview">
                    <br><center>Hydro, Issue #1</center>
                    <br><center>May 12-14, 2017</center>
                    <br><center>Comicpalooza</center>
                </div>
            </div>
            <br />
            <!--Preview Pages-->
            <!--Current images are placeholders-->
           <!-- <div class="row">
                <div class="col-md-3 form-group">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <img src="../../Images/ISSUE1PG1.jpg" class="img-responsive img-thumbnail" alt="" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 prevbutton">
                            <button type="button" data-toggle="modal" data-target="#myModal1">ENLARGE</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 midpicdes">
                            Page 1 preview. Obviously Lyne like to stay up late and watch Netflix.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <img src="../../Images/ISSUE1PG8.jpg" class="img-responsive img-thumbnail" alt="" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 prevbutton">
                            <button type="button" data-toggle="modal" data-target="#myModal2">ENLARGE</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 midpicdes">
                            Why can't ex-boyfriends just stay away? I know right!?
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <img src="../../Images/ISSUE1PG10.jpg" class="img-responsive img-thumbnail" alt="" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 prevbutton">
                            <button type="button" data-toggle="modal" data-target="#myModal3">ENLARGE</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 midpicdes">
                            A little bit of a preview of a huge splash fold-out. Lots of art. Lots of text.
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <img src="../../Images/issue01backoutsidecover.jpg" class="img-responsive img-thumbnail" alt="" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 prevbutton">
                            <button type="button" data-toggle="modal" data-target="#myModal4">ENLARGE</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 midpicdes">
                            The back cover. Yes, our protagonist loves bottled water. She needs it!
                        </div>
                    </div>
                </div>
            </div>-->
            <!--Enlarge Buttons-->

            <!--<div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" data-toggle="modal" data-target="#myModal1">
                            <img src="../../Images/ISSUE1PG1.jpg" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="../../Images/ISSUE1PG8.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="../../Images/ISSUE1PG10.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="../../Images/issue01backoutsidecover.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="row">
                <div class="col-md-4 form-group">

                </div>

                    <div class="col-md-4 form-group">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <img src="../../Images/covers.jpg" class="img-responsive img-thumbnail" alt="" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 prevbutton">
                                <button type="button" data-toggle="modal" data-target="#myModal4">ENLARGE</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 midpicdes">
                                <center>The back cover.</center>
                            </div>
                        </div>
                    </div>
                <div class="col-md-4 form-group">

                </div>
                </div>
            <!--Enlarge Buttons-->
            <div id="myModal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="../../Images/covers.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>