<br />
<div class="container">
    <div class="row">
        <div class="col-md-12 registerbody">
            <font size="6">REGISTER</font>
            <fieldset>
                <legend>By creating an account at OXC Comics, you'll be able to stay connected and never miss a thing! <br />
                You'll also be able to purchase and download digital comics.<br /></legend>
                <ul>
                    <li ng-repeat="message in controller.validationMessages">
                        {{message}}
                    </li>
                </ul>

                <form ng-submit="controller.register()">
                    <div>
                        <label>Email:</label>
                        <input ng-model="controller.registerUser.email" />
                    </div>
                    <div>
                        <label>Password:</label>
                        <input ng-model="controller.registerUser.password" input type="password"/>
                    </div>
                    <div>
                        <label>Confirm Password:</label>
                        <input ng-model="controller.registerUser.confirmPassword" input type="password"/>
                    </div>
                    <input type="submit" value="Register" />
                </form>
            </fieldset>
        </div>
    </div>
</div>